@CHARSET "UTF8";

body{
	font-family: 'daumFont', normal;
	font-weight: 200; 
}
body *{
    box-sizing: border-box;	
}
.simpleContent{
	width: 80%;
	margin:auto;
}
.navbar{
	border-radius: 0;
    border-color: #ff970b;
    margin-bottom:0;
	padding-left:15px;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
	margin-left:0;
	margin-right:0;
}
.navbar, nav.navbar-header,.navbar-inverse{
	background-color: #ff970b !important;
    border-color: #ff970b !impoartant;
    color: #ffffff !important;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#ff970b),to(#ff7d00)); 
}
.navbar *{
	color:#fff !important;
	border-color:#fff !important;
}
.dropdown-menu{
    background-color: #ff970b;
    border-color: #ff970b !important;

}
.dropdown-menu .dropdown-item{
    display: block;
    width: 100%;
    padding: 10px;
    position: relative;
    padding-left: 20px;
}
.dropdown-menu .dropdown-item:before{
    content: '-';
    margin-right: 5px;
    position: absolute;
    left: 10px;
}
.navbar-inverse .navbar-toggle{
	border-color:#fff;
}
.navbar-inverse .navbar-toggle .icon-bar{

}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a{
	    background-image: linear-gradient(to bottom,#3c7429 0,#1a5c04 100%); 
	    box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
}
.panel-default>.panel-heading {
    /* color: #1a5c04; */
    background-color: #faffcd;
    border-color: #008003;
}
.btn{
	background-color: #68ae6900;
    border-color: #008003;
    color: #008003;
}
.btn-primary{
	background-image: -webkit-linear-gradient(top,#399804 0,#1a5c04 100%);
	background-image: -o-linear-gradient(top,#399804 0,#1a5c04  100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#399804),to(#1a5c04));
	background-image: linear-gradient(to bottom,#399804 0,#1a5c04 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #245580;
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}
.btn-success{
	background-image: -webkit-linear-gradient(top,#004988 0,#003665 100%);
	background-image: -o-linear-gradient(top,#004988 0,#003665  100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#004988),to(#003665));
	background-image: linear-gradient(to bottom,#004988 0,#003665 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004988', endColorstr='#003665', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #003665;
	color: #fff;
	background-color: #003665;
	border-color: #003665;
}
.btn-danger{
	background-image: -webkit-linear-gradient(top,#a94442 0,#660f0d 100%);
	background-image: -o-linear-gradient(top,#a94442 0,#660f0d  100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#a94442),to(#660f0d));
	background-image: linear-gradient(to bottom,#a94442 0,#660f0d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a94442', endColorstr='#660f0d', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #a94442;
	color: #fff;
	background-color: #a94442;
}
.container{
	width:100%; 
}
.box{
	margin:auto;
	padding:10px;
	background-color:#ffffff;
	border: 1px solid #008003;
	border-radius: 0.3em;
	color:#008003;
	position:relative;
}
h1{
	padding: 10px;
	color: #1a5c04;
	font-family: 'daumFont', normal;
	font-weight: 600;
}
.container-fluid{
	padding:0; 
	margin:0;
}
header{
	background-color:#ff970b;
	padding:30px 10px 10px;
}
a.topName:link, a.topName:visited, a.topName:active {
    color: white;
	font-family: 'Indie Flower', normal;
	font-weight: bold;
    text-decoration: none;
    font-weight: bold;
    font-size:50px !important;
	padding:10px;
}
a:active{

}
header h1{
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
    text-decoration: none;
    font-weight: bold;
    font-size:50px !important;
	padding:10px;
}
h1{
	font-size:2em;
}
h2{
	font-size:1.8em;
}
h3{
	font-size:1.6em;
}
h4{
	font-size:1.4em;
}
h6{
	font-size:1.2em;
}

.user_container{
	width: 100%;
	padding: 10px;
	display:inline-block;
	color:#ff970b;
}
.user_container .userName{
	background-color: #fff1a8;
    font-family: 'Indie Flower', 'NanumGothic' , cursive;
    font-weight:800;
    color: #1a5c04;
    font-size: 25px;
    padding: 5px 20px;
    font-weight: bold
}
.user_container .userComment{
	font-family:'tvnEnjoyFont',normal; 
	font-weight: 400;
	font-size: 20px;
	border: 1px solid #fff1a8; 
	border-radius:0.3em;
	padding:20px 10px;
	min-height: 200px;
}
.main{
	padding:20px 10px 20px 10px;
}
a:link, a:visited, a:active{
	color: #1a5c04;
	font-family: 'daumFont', normal;
	font-weight: 600;
}